<%- include('templates/header')-%>

<div class="row align-items-md-stretch">
  <div class="col-md-6">
    <div class="h-100 p-5 text-bg-dark rounded-3">
      <h2>Halaman Memasukkan Berita</h2>
      <p>Tempat menambahkan berita baru ada disini ya tapi hanya yang bisa login</p>
      <button class="btn btn-outline-light" type="button">Tambah Berita</button>
    </div>
  </div>
  <div class="col-md-6">
    <div class="h-100 p-5 bg-light border rounded-3">
      <h2>Halaman Login</h2>
      <p>Silahkan Login Dulu sebelum menambahkan berita</p>
      <button class="btn btn-outline-secondary" type="button">Login</button>
    </div>
  </div>
</div>
&nbsp
<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">Custom jumbotron</h1>
    <p class="col-md-8 fs-4">Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.</p>
    <button class="btn btn-primary btn-lg" type="button">Example button</button>
  </div>
</div>

<%- include('templates/footer')-%>
